@charset "utf-8"; 

body {
  margin: 0; padding: 0;
}

ul li a {
  color: inherit;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  width: 100vw; height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  
}

.header .hlogo {
  position: relative;
  right: 10%;
}

.header .h_main {
  font-size: 1.4rem;
  transition: 0.7s;
  text-align: center;
  padding-top: 30px;
}

.header .h_main li {
  min-width: 9vw;
  width: 100%;
  
}

.h_main:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

.header .h_main li:hover .h_sub li{
  
  height: 80px; width: 100px;
  transition: 0.5s;
  
}

.h_sub li:hover {
  color: white;
  background-color: black;
}

.header .h_sub {
  background-color: #fff;
  margin-top: 30px;
  line-height: 70px;
}

.header .h_sub li {
  text-align: center;

  overflow: hidden;
  height: 0;
}

.header h1 img{
  margin-top: 30px;
  min-width: 100%;
  width: 180px;
}

.header .family {
  display: flex;
  justify-content: right;
  position: relative;
  left: 8%;
}

.header .family .h_f {
  text-align: right;
  padding: 0 20px;
  padding-top: 30px;
}

.header .family .h_f .ship a {
  background-color: orange;
  text-align: center;
  width: 130px; height: 40px;
  padding: 1vh 1vw;
  border-radius: 50px;
}

.header svg {
  height: 100%; width: 3em;
  height: 18px;
}


/* header ▲*/


.videoBox {
  position: relative;
  top: -210px;
  min-width: 100%; max-width: 100%;
  width: 100%; height: 100vh;
  z-index: 1;
}

.videoBox img.h_bg1 {
  position: relative;
  top: -1262px; 
}
.videoBox img.h_bg2 {
  position: relative;
  top: -950px; right: 192px;
}
.videoBox img.h_bg3 {
  position: relative;
  top: -850px; right: 440px;
}
.videoBox img.h_bg4 {
  position: relative;
  top: -564px; right: 620px;
}
.videoBox img.h_bg5 {
  position: relative;
  top: -564px; right: 776px;
}
.videoBox img.h_bg6 {
  position: relative;
  top: -564px; left: 780px;
}

.videoBox img.h_bg7 {
  position: relative;
  top: -562px; left: 654px;
}

.videoBox h2{
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  font-style: italic;
  position: relative;
  bottom: 135%; left: 10%;
}

.videoBox h3 {
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  font-style: italic;
  position: relative;
  bottom: 133%; left: 12%;
}

.videoBox p {
  font-weight: bold;
  color: white;
  font-style: italic;
  position: relative;
  bottom: 134%; left: 12%;
}
nav.m1 {
  font-size: 0.8rem;
  display: flex;
  flex-flow: column wrap;
  width: 125px; min-width: 100px;
  position: relative;
  bottom: 150%; left: 90%;
}

nav.m1 .m1c {
  color: white;
  text-align: center;
  margin-top: 10px;
  line-height: 30px;
  height: 125px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.info1 {
  position: relative;
  top: -67px;
  min-height: 100vh;
  height: 100%; width: 100%;
  font-size: 1.8rem;
}


.info1 .info1_m img, .info2 .info2_m img, .map .map_m img, .contact_m img {
  max-width: 100%; max-height: 100%;
  width: 30px; height: 30px;
}

.info1 .info1_m h2, .info2 .info2_m h2, .map, .contact_m {
  font-size: 2.4rem;
}
.info1 .info1_m p, .info2 .info2_m p, .contact_m p{
  text-align: center;
  font-size: 1.3rem;
  width: 620px;
}

.info1 .info1_m{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin:200px auto;
  margin-top: 20vh;
}



.info1 .m1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

  margin: 5%;
}
.info1 .m1 p {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.info1 .m1 strong {
  font-size: 1rem;
  margin: 5%;
}

.info1 .m1 li {
  padding-right: 5%;
  border-right: 2px solid rgba(128, 128, 128, 0.418);
}

.info1 .m1 li:nth-child(4){
  border-right: none;
}

.info1 .m1 em {
  font-size: 1rem;
  font-weight: lighter;
  font-style: normal;
  width: 150px; height: 50px;
  margin: 0 auto;
}

.info1 li em {
  display: flex;
  justify-content: center;
  color: black;
}

.info1 .m1 h4 {
  color: rgb(56, 7, 102);
  text-align: center;
  font-size: 1.2rem;
  width: 250px; height: 5px;
}

/* info1 */

.info2 {
  position: relative;
  top: -67px;
  min-height: 100vh;
  height: 100%; width: 100%;
  font-size: 1.8rem;
  padding-bottom: 50px;
}

.info2 .info2_m {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
/* info2 */

.m2 {
  background-color: beige;
  width: 55%; height: 70vh;
}

.m2 ul.m2_m {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15%;
}

ul.m2_m li {
  margin: 10% 5%;
  font-size: 1.2rem;
}

ul.m2_sub {
  display: flex;
  justify-content: center;
  text-align: center;
  
}

ul.m2_sub p {
  margin-top: 40px;
  width: 600px;
  font-size: 1.2rem;

}

ul.m2_img {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

ul.m2_img li {
  margin: 0 10px;
}

.m2_m:hover .m2_sub{
  border: 1px solid;
}

.ghost_btn {

  position: relative;
  top: -45vh; right: 520px;
  margin: 0 auto;
  background-color: orange;
  width: 130px;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
}
.ghost_btn a {
  font-weight: bold;
  color: white;

}

.m2_m2 {
  position: relative;
  left: 90%; top: -510px;
}

.m2_m2 img {
  width: 100%; height: 100%;
}
/* m2 */

.map  {
  width: 100%; height: 100vh;
  background-color: #ffffff;
}

.map .map_m {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15vh auto 5vh auto; 
}

.map_m p {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
}

.schedule {
  display: flex;
  justify-content: center;
}

.schedule a {
  margin: 0 2vw;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}
.mapbg {
  background-color: #fae300;
  text-align: center;
  padding: 8%;
  margin-top: 2vh;
}

.map > .ghost_btn {

  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: 0 auto;
  margin-top: 10px;
  background-color: orange;
  width: 130px;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
}

/* map */

.contentsBox {
  display: flex;
  justify-content: center;
  height: 40vh;
  margin: auto auto 1% auto;
}

.contact_m {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: auto auto 5% auto; 
}

.contents1, .contents2, .contents3 {
  width: 26%; height: 100%;
  margin: 0 1%;
}

.contents1_txt {
  background-color: rgba(0, 0, 0, 0.384);
  width: 26%; height: 36%;
  position: absolute;
  color: white;
  text-align: center;
}

.contents1 h1 {
  position: absolute;
  background-color: orange;
  width: 130px;
  padding: 2%;
  font-size: 1rem;
  text-align: center;
}

.contents1_txt h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 15% auto;
  width: 90%;
  
}

.contents1_txt p {
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 1.2rem;
}

.contents1 a {
  color: white;
  border: 1px solid white;
  padding: 2% 3%;
  font-size: 1.2rem;
}

.contents1 img {
  width: 100%; height: 100%;
  
}


.contents2 {
  height: 100%;
}

.contents2_top {
  display: flex;
  justify-content: space-between;
}

.contents2 h2 {
  font-size: 2rem;
}

.contents2_top > a {
  border: 1px solid rgba(128, 128, 128, 0.322);
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  padding: 0 8%;
}

.contents2_txt {
  margin-top: 1vh;
  display: flex;
  color: black;
  margin-left: 1vw;
 
}

.contents2_txt a {
  margin-right: 3vw;

}

.contents2_txt p {
  color: rgba(128, 128, 128, 0.568);
  font-weight: bold;
}

.contents2_txt ul li{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  margin-bottom: 4.6vh;
  margin-top: 2vh;
} 

.contents3 {
  display: flex;
  text-align: center;
  width: 14%; height: 100%;
}

.contents3 img {
  width: 100%; height: 100%;
}

.contents3 a {
  color: white;
  font-weight: bold;
  position: absolute;
  margin: 15% 4%;
  background-color: orange;
  width: 130px;
  padding: 0.5% 0;
  font-size: 1rem;

}

/* contact */


.contact_logo {
  display: flex;
  justify-content: center;
  width: 100%; height: 5vh;
  background-color: beige;
  margin: 5% auto auto auto;
}

.contact_logo img {
  min-width: 100px; max-width: 100%;
  margin: 0 2%;
}
/* logo */
/* main ▲ */

footer {
  height: 30vh;
  background-color: rgb(44, 43, 43);
}

.adress_m {
  display: flex;
  flex-flow: column;
  margin-left: 5%;
  padding-top: 3%;
}

.adress_m p {
  color: gray;
  margin: 1% auto;
  font-size: 0.8rem;
}

.site ul {
  display: flex;
  justify-content: right;
  margin: -7% 5%;

}

.site ul li {
  margin: 0 1%;
  color: gray;
}

.site a{
  font-size: 1rem;
  font-weight: bold;
}
/* footer */