@charset "utf-8"; 

body {
  margin: 0; padding: 0;
}

ul li a {
  color: inherit;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  width: 100vw; height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  
}

.header .hlogo {
  position: relative;
  right: 10%;
}

.header .h_main {
  font-size: 1.4rem;
  transition: 0.7s;
  text-align: center;
  padding-top: 30px;
}

.header .h_main li {
  min-width: 9vw;
  width: 100%;
  
}

.h_main:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

header .h_main li:hover .h_sub li{
  
  height: 80px; width: 100px;
  transition: 0.5s;
  
}

.h_sub li:hover {
  color: white;
  background-color: black;
}

header .h_sub {
  background-color: #fff;
  margin-top: 30px;
  line-height: 70px;
}

header .h_sub li {
  text-align: center;

  overflow: hidden;
  height: 0;
}

.header h1 img{
  margin-top: 30px;
  min-width: 100%;
  width: 180px;
}

.header .family {
  display: flex;
  justify-content: right;
  position: relative;
  left: 8%;
}

.header .family .h_f {
  text-align: right;
  padding: 0 20px;
  padding-top: 30px;
}

.header .family .h_f .ship a {
  background-color: orange;
  text-align: center;
  width: 130px; height: 40px;
  padding: 1vh 1vw;
  border-radius: 50px;
}

.header svg {
  height: 100%; width: 3em;
  height: 18px;
}


/* header ▲*/


.videoBox {
  position: relative;
  top: -210px;
  min-width: 100%; max-width: 100%;
  width: 100%; height: 100vh;
  z-index: 1;
}

.videoBox img.h_bg1 {
  position: relative;
  top: -1262px; 
}
.videoBox img.h_bg2 {
  position: relative;
  top: -950px; right: 192px;
}
.videoBox img.h_bg3 {
  position: relative;
  top: -850px; right: 440px;
}
.videoBox img.h_bg4 {
  position: relative;
  top: -564px; right: 620px;
}
.videoBox img.h_bg5 {
  position: relative;
  top: -564px; right: 776px;
}
.videoBox img.h_bg6 {
  position: relative;
  top: -564px; left: 780px;
}

.videoBox img.h_bg7 {
  position: relative;
  top: -562px; left: 654px;
}

.videoBox h2{
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  font-style: italic;
  position: relative;
  bottom: 135%; left: 10%;
}

.videoBox h3 {
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  font-style: italic;
  position: relative;
  bottom: 133%; left: 12%;
}

.videoBox p {
  font-weight: bold;
  color: white;
  font-style: italic;
  position: relative;
  bottom: 134%; left: 12%;
}
nav.m1 {
  font-size: 0.8rem;
  display: flex;
  flex-flow: column wrap;
  width: 125px; min-width: 100px;
  position: relative;
  bottom: 150%; left: 90%;
}

nav.m1 .m1c {
  color: white;
  text-align: center;
  margin-top: 10px;
  line-height: 30px;
  height: 125px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

 {
  background-color: rgba(255, 102, 0, 0.671);
}

/* main ▲ */